/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --bg-image: url(/images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color1: #FF0070;
    --accent-color2: #FF0070;
    --accent-color2-light: rgba(255, 0, 112, 40%);
    --hero-title-color: #DB00FF;
    --hero-title-accent-color: #FF0070;
    --title-color: #000028;
    --main-font-color: #F1B2CE;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000028;
        --bg-image: url(/images/cover-image-dark.png);
        --accent-color: #FF0070;
        --hero-text-accent-color: #DB00FF;
        --title-color: #000028;
        --main-font-color: #F1B2CE;
    }
}