/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #FF0070;
    --accent-color-light-theme-special: var(--accent-color);
    --accent-color-light-theme-special-bright: rgba(255, 0, 112, 40%);
    --hero-title-color: #DB00FF;
    --hero-title-accent-color: var(--accent-color);
    --title-color: var(--bg-color);
    --main-font-color: #F1B2CE;
}

@media (prefers-color-scheme: dark) {
    :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #FF0070;
    --accent-color-light-theme-special: var(--accent-color);
    --accent-color-light-theme-special-bright: rgba(255, 0, 112, 40%);
    --hero-title-color: #DB00FF;
    --hero-title-accent-color: var(--accent-color);
    --title-color: var(--bg-color);
    --main-font-color: #F1B2CE;
    }
}