/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #FF0070;
    --accent-color-light-theme-special: #FF0070;
    --accent-color-light-theme-special-bright: rgba(255, 0, 112, 40%);
    --hero-text-accent-color: #DB00FF;
    --title-color: #000028;
    --main-font-size: 18px;
    --main-font-family: "IBM Plex Mono", sans-serif;
    --main-line-height: 130%;
    --main-font-color: #F1B2CE;
    --wrapper-padding: 0 20px;
    --gap-xs: 10px;
    --gap-s: 20px;
    --title-offset: -20px;
    --mb-xs: 20px;
    --mb-m: 60px;
    --mb-l: 80px;

    @media (width < 768px) {
        --wrapper-padding: 0 10px;
        --title-offset: -10px;
        }

    @media (width < 500px) {
        --mb-l: 50px;
        }
}
